pyrogram
TgCrypto
aiohttp
python-dotenv
requests
pyrogram
requests
wget
asyncio
datetime
aiofiles
youtube_dl
aiohttp
yt_dlp
opencc
telegraph
youtube_search
pytube
Python_ARQ
TgCrypto
bs4
telethon
Pillow
motor
dnspython
pymongo
umongo
psutil
NumPy
glitch_this
opencv-python-headless
pytz
pykeyboard
Python_ARQ
